body {
    background-color: #AFC6D2;
    font-family: 'Josefin Sans', sans-serif;
  }

#header {
    margin-top: 100px;
    text-align: center;
}
  
#todo-content{
  background-color: #AFC6D2;
  width: 60%;
  margin: auto;
  margin-top: 100px;
}

#new-task::placeholder {
  font-size: 15px;
  color: #ABA197;
}

#new-task {
  width: 100%;
  height: 35px;
  font-size: 20px;
  margin-bottom: 25px;
  border: none;
  border-radius: 10px;
  background-color: #fafafa;
  text-align: center;
}

#add-task{
  display: block;
  background-color: #fafafa;
  border-color: #4C4238;
  color: black;
  height: 35px;
  width: 75px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 25px;
  border-radius: 10px;
}

#add-task:active{
  background-color: #4C4238;
}

#todo-form{
  border-bottom: 3px solid gray;
}

#todo-content .todo{
  font-size: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1.5px dotted #4C4238;
}

#todo-content .done{
  font-size: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1.5px dotted #4C4238;
}

.todo p {
  display: inline-block;
  margin: 0;
}

.done p{
  display: inline-block;
  margin: 0;
}

.check{
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border: 2px solid #4C4238;
  border-radius: 50%;
}

.todo .check:hover{
  background-color: hsl(0, 0%, 70%);
}

.done p{
  text-decoration: line-through;
}

.done .check{
  background-color: black;
}

.delete{
  float: right;
  background: none;
  border: none;
  margin:0;
  padding: 0;
  cursor: pointer;
  font-size: 22px;
  color: #4C4238;
}

.delete:hover{
  color: #E8DBCD;
}
